Repository fengguangpei/vue-oa-project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "eslint",
  "*.{vue,css}": "stylelint"
}

feat: 前端代码规范配置更新
  .babelrc.js
  .eslintignore
  .eslintrc.js
  .lintstagedrc.json
  .postcssrc.js
  .prettierignore
  src/views/employee/Roster.vue
  src/views/organize/OrganizeManage.vue
Due: eslint, stylelint

update
  package-lock.json
  package.json
  src/views/Login.vue
  src/views/MicroApp.vue
Due: eslint, stylelint

update
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  src/index.html
  src/views/Login.vue
  src/views/MicroApp.vue
  src/views/Tabs.vue
Due: eslint, stylelint

fix
  .lintstagedrc.json
  .stylelintrc.json
  src/stores/tabs.js
Due: eslint

这是一个commit
  .eslintcache
  auto-imports.d.ts
  components.d.ts
  config/webpack.config.dev.js
  src/main.js
  src/router/asides.js
  src/router/routes.js
  src/views/MicroApp.vue
  src/views/MicroApplication.vue
  src/views/Tabs.vue
Due: eslint, stylelint

reset
  README.md
Due: none

reset1
  README.md
Due: none

Revert "fix"
  .lintstagedrc.json
  .stylelintrc.json
  src/stores/tabs.js
Due: eslint

update: 微应用配置
  .stylelintrc.json
  components.d.ts
  config/webpack.config.dev.js
  package-lock.json
  package.json
  src/main.js
  src/router/asides.js
  src/router/routes.js
  src/stores/tabs.js
  src/views/MicroApp.vue
  src/views/MicroApplication.vue
  src/views/employee/ContractManage.vue
  src/views/organize/OrganizeManage.vue
Due: eslint, stylelint

微前端优化
  components.d.ts
  src/components/RefreshPage.vue
  src/hooks/useRefresh.js
  src/router/index.js
  src/views/Frame.vue
  src/views/MicroApp.vue
Due: eslint, stylelint

优化路由刷新
  .lintstagedrc.json
  src/hooks/useRefresh.js
  src/router/index.js
  src/router/routes.js
  src/views/RefreshPage.vue
Due: eslint, stylelint

update
  .eslintrc.js
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  src/main.js
  src/router/index.js
  src/views/employee/ContractManage.vue
  src/views/employee/Roster.vue
Due: eslint, stylelint

vendor
  config/webpack.config.dev.js
  config/webpack.config.vendor.js
  package.json
  src/main.js
  vendor/Vendor_dll.js
  vendor/Vendor_dll.js.LICENSE.txt
  vendor/Vendor_manifest.json
Due: eslint

update
  .babelrc.js
  components.d.ts
  config/webpack.config.base.js
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  package-lock.json
  package.json
Due: eslint

feat: 全局路由刷新
  .babelrc.js
  components.d.ts
  config/webpack.config.base.js
  config/webpack.config.prod.js
  package-lock.json
  package.json
  src/components/homePage/EmployeeCard.vue
  src/main.js
  src/router/index.js
  src/router/routes.js
  src/stores/tabs.js
Due: eslint, stylelint

update: 路由
  src/components/homePage/EmployeeCard.vue
  src/router/asides.js
  src/router/index.js
  src/router/routes.js
Due: eslint, stylelint

update: externals
  auto-imports.d.ts
  components.d.ts
  config/webpack.config.base.js
  package-lock.json
  package.json
  src/index.html
  src/router/index.js
  src/views/Frame.vue
  yarn.lock
Due: eslint, stylelint

feat: v-tip
  src/App.vue
  src/assets/scss/base.scss
  src/assets/scss/common.scss
  src/components/homePage/EmployeeCard.vue
  src/directives/vTip.js
  src/index.html
  src/main.js
Due: eslint, stylelint

update package
  config/webpack.config.prod.js
  src/assets/images/login.png
  src/assets/scss/base.scss
  src/index.html
  src/main.js
  src/views/Login.vue
  src/views/organize/AddressBook.vue
  src/views/organize/OrganizeManage.vue
  yarn.lock
Due: eslint, stylelint

circle CICD
  package.json
  src/main.js
  src/views/organize/AddressBook.vue
  yarn.lock
Due: eslint, stylelint

config
  .circleci/config.yml
  src/assets/images/login的副本.png
Due: none

update CICD config
  .circleci/config.yml
Due: none

update CICD config1
  .circleci/config.yml
Due: none

update CICD config2
  .circleci/config.yml
Due: none

Updated config.yml
  .circleci/config.yml
Due: none

add: github workflow
  .circleci/config.yml
  .github/workflows/github-action-example.yaml
  .postcssrc.js
  .prettierrc.json
  auto-imports.d.ts
  components.d.ts
  config/webpack.config.dev.js
  package.json
  src/assets/scss/base.scss
  src/hooks/useRefresh.js
  src/index.html
  src/main.js
  src/router/index.js
  src/views/Frame.vue
  tailwind.config.js
  vendor/Vendor_dll.js
  vendor/Vendor_dll.js.LICENSE.txt
  vendor/Vendor_manifest.json
  yarn.lock
Due: eslint, stylelint

change: action system
  .github/workflows/github-action-example.yaml
Due: none

print secrets
  .github/workflows/github-action-example.yaml
Due: none

1
  .github/workflows/github-action-example.yaml
  components.d.ts
  package.json
  yarn.lock
Due: eslint

11
  .husky/pre-commit
Due: none
